<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">

    <link rel="stylesheet" href="stylesheets/styles.css">
    <link rel="stylesheet" href="stylesheets/github-light.css">
    <link rel="stylesheet" href="stylesheets/syntax.css">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
    <meta name="viewport" content="width=device-width">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    {% seo %}
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>OSGi Getting Started</h1>
        <h3>By <a href="https://github.com/mnlipp">Michael N. Lipp</a></h3>
        <p></p>


        <p class="view"><a href="https://github.com/mnlipp/osgi-getting-started">View GitHub Project</a></p>

        <p></p>

        <p><a href="index.html">Introduction</a></p>
        <p><a href="execution-environment.html">Part 1: The container</a></p>
        <p><a href="SimplestBundle.html">Part 2: Simplest Bundle</a></p>
        <p><a href="SimpleBundle.html">Part 3: Simple Bundle</a></p>
        <p><a href="EclipsePlugin.html">Part 4: Eclipse (OSGi) Plugin</a></p>
        <p><a href="Bndtools.html">Part 5: Bndtools</a></p>


      </header>
      <section>
        {{ content }}
      </section>
      <footer>
        <p style="width:80%;"><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
    <script src="javascripts/scale.fix.js"></script>
    
<!-- Piwik -->
<script type="text/javascript">
  var _paq = _paq || [];
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//piwik.mnl.de/";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', 10]);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<noscript><p><img src="//piwik.mnl.de/piwik.php?idsite=10" style="border:0;" alt="" /></p></noscript>
<!-- End Piwik Code -->

  </body>
</html>
